* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

/* header */

.header {
    width: 100%;
    background-color: #17171795;
    position: fixed;
    top: 0;
}

a {
    color: #fff !important;
}

.logo {
    height: 48px;
}

/* hero */

.hero-section {
    background-image: url(../multimedia/ATHERO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.hero-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.title {
    background-color: #171717de;
    width: fit-content;
    padding: 0 10px;
    margin: 0;
}

.title-companion {
    background-color: #ffbd59;
    width: fit-content;
    padding: 0 10px;
}

.title-subtitle {
    background-color: #171717de;
}

.subtitles {
    margin-bottom: 32px;
}

/* cards */

.info-section {
    padding: 64px 0px;
    background-image: url(../multimedia/5.png);
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info-card {
    max-width: 380px;
    margin: 15px 0px;
}

.card-img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.card-title {
    margin: 16px 0px;
}

/* info */

.icons-section {
    padding: 64px 0;
    background-image: url(../multimedia/4.png);
}

.icons-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icons-card {
    max-width: 220px;
}

.icons-card img {
    width: 64px;
}

.icons-card h4 {
    color: #ffbd59;
}

.icons-card p {
    color: #878787;
}

/* marcas */

.brands-section {
    padding: 64px 0;
    background-color: #e8e9ea;
}

.brands-title {
    color: #ffbd59;
    margin: 32px 0;
}

.brands {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brand-img {
    width: 200px;
}

/* contact */

.contact-section {
    padding: 32px 0;
    background-color: #ffae21;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    background-repeat: repeat;
    background-position: center;
}

.contact-order {
    text-align: center;
}

.contact-number {
    font-size: 36px;
    color: #fff;
}

.phone-img {
    height: 32px;
}

.ig-text {
    font-weight: 700;
}

/* footer */

.footer {
    height: 45px;
    background-color: #2F2F2F;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}