* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

/* header */

.header {
    width: 100%;
    background-color: #17171795;
    position: fixed;
    top: 0;
}

a {
    color:  #fff !important;
}

.logo {
    height: 48px;
}

/* hero */

.hero-section {
    background-image: url(../multimedia/ATHERO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.hero-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.title {
    background-color: #171717de;
    width: fit-content;
    padding: 0 10px;
}

.title-companion {
    background-color: #ffbd59;
    width: fit-content;
    padding: 0 10px;
}

.subtitles {
    margin-bottom: 32px;
}

/* cards */

.info-section {
    padding: 32px 0px;
    background-image: url(../multimedia/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info-card {
    max-width: 380px;
}

.card-img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.card-title {
    margin: 16px 0px;
}

/* info */

.icons-card {
    max-width: 220px;
}

.icons-card img {
    width: 64px;
}